In [51]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [52]:
engine = create_engine("postgresql://postgres:12345@localhost/GYK1Northwind")

In [53]:
# 1. customers ve orders tablolarını birleştirmek için sorgu
query1 = """
SELECT * FROM customers c
JOIN orders o ON c.customer_id = o.customer_id;
"""

# 2. order_details ve products tablolarını birleştirmek için sorgu
query2 = """
SELECT * FROM order_details od
JOIN products p ON od.product_id = p.product_id;
"""

# 3. products ve categories tablolarını birleştirmek için sorgu
query3 = """
SELECT * FROM products p
JOIN categories c ON p.category_id = c.category_id;
"""

# 4. products ve suppliers tablolarını birleştirmek için sorgu
query4 = """
SELECT * FROM products p
JOIN suppliers s ON p.supplier_id = s.supplier_id;
"""

# 5. employees ve employee_territories tablolarını birleştirmek için sorgu
query5 = """
SELECT * FROM employees e
JOIN employee_territories et ON e.employee_id = et.employee_id;
"""

# 6. territories ve region tablolarını birleştirmek için sorgu
query6 = """
SELECT * FROM territories t
JOIN region r ON t.region_id = r.region_id;
"""

# Tüm sorguları çalıştırdım ve sonuçları pandas DataFrame'ine aldım
df1 = pd.read_sql(query1, engine)
df2 = pd.read_sql(query2, engine)
df3 = pd.read_sql(query3, engine)
df4 = pd.read_sql(query4, engine)
df5 = pd.read_sql(query5, engine)
df6 = pd.read_sql(query6, engine)

print(df1.head())
print(df2.head())
print(df3.head())
print(df4.head())
print(df5.head())
print(df6.head())

  customer_id               company_name      contact_name  \
0       VINET  Vins et alcools Chevalier      Paul Henriot
1       TOMSP         Toms Spezialitäten     Karin Josephs
2       HANAR              Hanari Carnes      Mario Pontes
3       VICTE       Victuailles en stock      Mary Saveley
4       SUPRD           Suprêmes délices  Pascale Cartrain

        contact_title               address            city region  \
0  Accounting Manager    59 rue de l'Abbaye           Reims   None
1   Marketing Manager         Luisenstr. 48         Münster   None
2  Accounting Manager       Rua do Paço, 67  Rio de Janeiro     RJ
3         Sales Agent    2, rue du Commerce            Lyon   None
4  Accounting Manager  Boulevard Tirou, 255       Charleroi   None

  postal_code  country              phone  ... required_date  shipped_date  \
0       51100   France        26.47.15.10  ...    1996-08-01    1996-07-16
1       44087  Germany        0251-031259  ...    1996-08-16    1996-07-10
2   05454-876   Brazil      (21) 555-0091  ...    1996-08-05    1996-07-12
3       69004   France        78.32.54.86  ...    1996-08-05    1996-07-15
4      B-6000  Belgium  (071) 23 67 22 20  ...    1996-08-06    1996-07-11

  ship_via  freight                  ship_name          ship_address  \
0        3    32.38  Vins et alcools Chevalier    59 rue de l'Abbaye
1        1    11.61         Toms Spezialitäten         Luisenstr. 48
2        2    65.83              Hanari Carnes       Rua do Paço, 67
3        1    41.34       Victuailles en stock    2, rue du Commerce
4        2    51.30           Suprêmes délices  Boulevard Tirou, 255

        ship_city  ship_region  ship_postal_code ship_country
0           Reims         None             51100       France
1         Münster         None             44087      Germany
2  Rio de Janeiro           RJ         05454-876       Brazil
3            Lyon         None             69004       France
4       Charleroi         None            B-6000      Belgium

[5 rows x 25 columns]
   order_id  product_id  unit_price  quantity  discount  product_id  \
0     10248          11        14.0        12       0.0          11
1     10248          42         9.8        10       0.0          42
2     10248          72        34.8         5       0.0          72
3     10249          14        18.6         9       0.0          14
4     10249          51        42.4        40       0.0          51

                    product_name  supplier_id  category_id quantity_per_unit  \
0                 Queso Cabrales            5            4         1 kg pkg.
1  Singaporean Hokkien Fried Mee           20            5   32 - 1 kg pkgs.
2         Mozzarella di Giovanni           14            4  24 - 200 g pkgs.
3                           Tofu            6            7  40 - 100 g pkgs.
4          Manjimup Dried Apples           24            7  50 - 300 g pkgs.

   unit_price  units_in_stock  units_on_order  reorder_level  discontinued
0       21.00              22              30             30             0
1       14.00              26               0              0             1
2       34.80              14               0              0             0
3       23.25              35               0              0             0
4       53.00              20               0             10             0
   product_id                  product_name  supplier_id  category_id  \
0           1                          Chai            8            1
1           2                         Chang            1            1
2           3                 Aniseed Syrup            1            2
3           4  Chef Anton's Cajun Seasoning            2            2
4           5        Chef Anton's Gumbo Mix            2            2

     quantity_per_unit  unit_price  units_in_stock  units_on_order  \
0   10 boxes x 30 bags       18.00              39               0
1   24 - 12 oz bottles       19.00              17              40
2  12 - 550 ml bottles       10.00              13              70
3       48 - 6 oz jars       22.00              53               0
4             36 boxes       21.35               0               0

   reorder_level  discontinued  category_id category_name  \
0             10             1            1     Beverages
1             25             1            1     Beverages
2             25             0            2    Condiments
3              0             0            2    Condiments
4              0             1            2    Condiments

                                         description picture
0        Soft drinks, coffees, teas, beers, and ales      []
1        Soft drinks, coffees, teas, beers, and ales      []
2  Sweet and savory sauces, relishes, spreads, an...      []
3  Sweet and savory sauces, relishes, spreads, an...      []
4  Sweet and savory sauces, relishes, spreads, an...      []
   product_id                  product_name  supplier_id  category_id  \
0           1                          Chai            8            1
1           2                         Chang            1            1
2           3                 Aniseed Syrup            1            2
3           4  Chef Anton's Cajun Seasoning            2            2
4           5        Chef Anton's Gumbo Mix            2            2

     quantity_per_unit  unit_price  units_in_stock  units_on_order  \
0   10 boxes x 30 bags       18.00              39               0
1   24 - 12 oz bottles       19.00              17              40
2  12 - 550 ml bottles       10.00              13              70
3       48 - 6 oz jars       22.00              53               0
4             36 boxes       21.35               0               0

   reorder_level  discontinued  ...      contact_name         contact_title  \
0             10             1  ...      Peter Wilson  Sales Representative
1             25             1  ...  Charlotte Cooper    Purchasing Manager
2             25             0  ...  Charlotte Cooper    Purchasing Manager
3              0             0  ...     Shelley Burke   Order Administrator
4              0             1  ...     Shelley Burke   Order Administrator

          address         city region postal_code country           phone  \
0   29 King's Way   Manchester   None     M14 GSD      UK  (161) 555-4448
1  49 Gilbert St.       London   None     EC1 4SD      UK  (171) 555-2222
2  49 Gilbert St.       London   None     EC1 4SD      UK  (171) 555-2222
3  P.O. Box 78934  New Orleans     LA       70117     USA  (100) 555-4822
4  P.O. Box 78934  New Orleans     LA       70117     USA  (100) 555-4822

    fax     homepage
0  None         None
1  None         None
2  None         None
3  None  #CAJUN.HTM#
4  None  #CAJUN.HTM#

[5 rows x 22 columns]
   employee_id last_name first_name                  title title_of_courtesy  \
0            1   Davolio      Nancy   Sales Representative               Ms.
1            1   Davolio      Nancy   Sales Representative               Ms.
2            2    Fuller     Andrew  Vice President, Sales               Dr.
3            2    Fuller     Andrew  Vice President, Sales               Dr.
4            2    Fuller     Andrew  Vice President, Sales               Dr.

   birth_date   hire_date                      address     city region  \
0  1948-12-08  1992-05-01  507 - 20th Ave. E.\nApt. 2A  Seattle     WA
1  1948-12-08  1992-05-01  507 - 20th Ave. E.\nApt. 2A  Seattle     WA
2  1952-02-19  1992-08-14           908 W. Capital Way   Tacoma     WA
3  1952-02-19  1992-08-14           908 W. Capital Way   Tacoma     WA
4  1952-02-19  1992-08-14           908 W. Capital Way   Tacoma     WA

  postal_code country      home_phone extension photo  \
0       98122     USA  (206) 555-9857      5467    []
1       98122     USA  (206) 555-9857      5467    []
2       98401     USA  (206) 555-9482      3457    []
3       98401     USA  (206) 555-9482      3457    []
4       98401     USA  (206) 555-9482      3457    []

                                               notes  reports_to  \
0  Education includes a BA in psychology from Col...         2.0
1  Education includes a BA in psychology from Col...         2.0
2  Andrew received his BTS commercial in 1974 and...         NaN
3  Andrew received his BTS commercial in 1974 and...         NaN
4  Andrew received his BTS commercial in 1974 and...         NaN

                             photo_path  employee_id territory_id
0  http://accweb/emmployees/davolio.bmp            1        06897
1  http://accweb/emmployees/davolio.bmp            1        19713
2   http://accweb/emmployees/fuller.bmp            2        01581
3   http://accweb/emmployees/fuller.bmp            2        01730
4   http://accweb/emmployees/fuller.bmp            2        01833
  territory_id territory_description  region_id  region_id region_description
0        01581              Westboro          1          1            Eastern
1        01730               Bedford          1          1            Eastern
2        01833             Georgetow          1          1            Eastern
3        02116                Boston          1          1            Eastern
4        02139             Cambridge          1          1            Eastern

In [54]:
#Veri işlemeye giriş:
#öncelikle eksik veri kontrolü yaptım.

print(df1.isnull().sum())
print(df2.isnull().sum())
print(df3.isnull().sum())
print(df4.isnull().sum())
print(df5.isnull().sum())
print(df6.isnull().sum())

customer_id           0
company_name          0
contact_name          0
contact_title         0
address               0
city                  0
region              520
postal_code          19
country               0
phone                 0
fax                 240
order_id              0
customer_id           0
employee_id           0
order_date            0
required_date         0
shipped_date         21
ship_via              0
freight               0
ship_name             0
ship_address          0
ship_city             0
ship_region         507
ship_postal_code     19
ship_country          0
dtype: int64
order_id             0
product_id           0
unit_price           0
quantity             0
discount             0
product_id           0
product_name         0
supplier_id          0
category_id          0
quantity_per_unit    0
unit_price           0
units_in_stock       0
units_on_order       0
reorder_level        0
discontinued         0
dtype: int64
product_id           0
product_name         0
supplier_id          0
category_id          0
quantity_per_unit    0
unit_price           0
units_in_stock       0
units_on_order       0
reorder_level        0
discontinued         0
category_id          0
category_name        0
description          0
picture              0
dtype: int64
product_id            0
product_name          0
supplier_id           0
category_id           0
quantity_per_unit     0
unit_price            0
units_in_stock        0
units_on_order        0
reorder_level         0
discontinued          0
supplier_id           0
company_name          0
contact_name          0
contact_title         0
address               0
city                  0
region               51
postal_code           0
country               0
phone                 0
fax                  46
homepage             59
dtype: int64
employee_id           0
last_name             0
first_name            0
title                 0
title_of_courtesy     0
birth_date            0
hire_date             0
address               0
city                  0
region               29
postal_code           0
country               0
home_phone            0
extension             0
photo                 0
notes                 0
reports_to            7
photo_path            0
employee_id           0
territory_id          0
dtype: int64
territory_id             0
territory_description    0
region_id                0
region_id                0
region_description       0
dtype: int64

In [55]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)
print(df6.columns)

Index(['customer_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax',
       'order_id', 'customer_id', 'employee_id', 'order_date', 'required_date',
       'shipped_date', 'ship_via', 'freight', 'ship_name', 'ship_address',
       'ship_city', 'ship_region', 'ship_postal_code', 'ship_country'],
      dtype='object')
Index(['order_id', 'product_id', 'unit_price', 'quantity', 'discount',
       'product_id', 'product_name', 'supplier_id', 'category_id',
       'quantity_per_unit', 'unit_price', 'units_in_stock', 'units_on_order',
       'reorder_level', 'discontinued'],
      dtype='object')
Index(['product_id', 'product_name', 'supplier_id', 'category_id',
       'quantity_per_unit', 'unit_price', 'units_in_stock', 'units_on_order',
       'reorder_level', 'discontinued', 'category_id', 'category_name',
       'description', 'picture'],
      dtype='object')
Index(['product_id', 'product_name', 'supplier_id', 'category_id',
       'quantity_per_unit', 'unit_price', 'units_in_stock', 'units_on_order',
       'reorder_level', 'discontinued', 'supplier_id', 'company_name',
       'contact_name', 'contact_title', 'address', 'city', 'region',
       'postal_code', 'country', 'phone', 'fax', 'homepage'],
      dtype='object')
Index(['employee_id', 'last_name', 'first_name', 'title', 'title_of_courtesy',
       'birth_date', 'hire_date', 'address', 'city', 'region', 'postal_code',
       'country', 'home_phone', 'extension', 'photo', 'notes', 'reports_to',
       'photo_path', 'employee_id', 'territory_id'],
      dtype='object')
Index(['territory_id', 'territory_description', 'region_id', 'region_id',
       'region_description'],
      dtype='object')

In [57]:
#Eksik verileri dolduma

# df1 (customers ve orders)
df1['city'] = df1['city'].fillna(df1['city'].mode()[0])  # Kategorik veri için mod ile doldurma
df1['region'] = df1['region'].fillna(df1['region'].mode()[0])

# df2 (order_details ve products)
df2['discount'] = df2['discount'].fillna(df2['discount'].mean())  # Sayısal veri için ortalama ile doldurma
df2['unit_price'] = df2['unit_price'].fillna(df2['unit_price'].mean())

# df3 (products ve categories)
df3['category_name'] = df3['category_name'].fillna(df3['category_name'].mode()[0])

# df4 (products ve suppliers)
df4['company_name'] = df4['company_name'].fillna(df4['company_name'].mode()[0])

# df5 (employees ve employee_territories)
df5['territory_id'] = df5['territory_id'].fillna(df5['territory_id'].mode()[0])

# df6 (territories ve region)
df6['region_description'] = df6['region_description'].fillna(df6['region_description'].mode()[0])

In [58]:
# Gereksiz sütunları silelim.

# df1 (customers ve orders)
df1 = df1.drop(['ship_name', 'ship_address', 'ship_city', 'ship_region', 
                'ship_postal_code', 'ship_country', 'employee_id' , 'freight', 'ship_via'], axis=1)

# df2 (order_details ve products) 
df2 = df2.drop(['product_id', 'supplier_id', 'quantity_per_unit', 'units_in_stock', 
                'units_on_order', 'reorder_level', 'discontinued'], axis=1)


# df3 (products ve categories)
df3 = df3.drop(['description' , 'discontinued', 'picture'], axis=1)

# df4 (products ve suppliers)
df4 = df4.drop(['contact_name','discontinued' , 'country' , 'phone' , 'fax' , 'homepage'], axis=1)

# df5 (employees ve employee_territories)
df5 = df5.drop(['employee_id', 'photo', 'notes'], axis=1)

# df6 (territories ve region)
df6 = df6.drop(['territory_description'], axis=1)

In [59]:
#Yeni sütun isimlerini kontrol edelim
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)
print(df6.columns)

Index(['customer_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax',
       'order_id', 'customer_id', 'order_date', 'required_date',
       'shipped_date'],
      dtype='object')
Index(['order_id', 'unit_price', 'quantity', 'discount', 'product_name',
       'category_id', 'unit_price'],
      dtype='object')
Index(['product_id', 'product_name', 'supplier_id', 'category_id',
       'quantity_per_unit', 'unit_price', 'units_in_stock', 'units_on_order',
       'reorder_level', 'category_id', 'category_name'],
      dtype='object')
Index(['product_id', 'product_name', 'supplier_id', 'category_id',
       'quantity_per_unit', 'unit_price', 'units_in_stock', 'units_on_order',
       'reorder_level', 'supplier_id', 'company_name', 'contact_title',
       'address', 'city', 'region', 'postal_code'],
      dtype='object')
Index(['last_name', 'first_name', 'title', 'title_of_courtesy', 'birth_date',
       'hire_date', 'address', 'city', 'region', 'postal_code', 'country',
       'home_phone', 'extension', 'reports_to', 'photo_path', 'territory_id'],
      dtype='object')
Index(['territory_id', 'region_id', 'region_id', 'region_description'], dtype='object')

DataFrame 1:
  'order_date' sütunu var.
  'hire_date' sütunu yok.

DataFrame 2:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

DataFrame 3:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

DataFrame 4:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

DataFrame 5:
  'order_date' sütunu yok.
  'hire_date' sütunu var.

DataFrame 6:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

In [60]:
#Encoding
categorical_columns_df1 = ['company_name', 'contact_name', 'contact_title', 'address', 'city', 'region', 'country']
df1_encoded = pd.get_dummies(df1, columns=categorical_columns_df1, drop_first=True)  # drop_first=True, ilk kategoriyi kaldırır

df2_encoded = pd.get_dummies(df2, columns=['product_name'], drop_first=True)

categorical_columns_df3 = ['product_name', 'category_name']
df3_encoded = pd.get_dummies(df3, columns=categorical_columns_df3, drop_first=True)

categorical_columns_df4 = ['product_name' , 'company_name' , 'contact_title', 'address', 'city' , 'region']
df4_encoded = pd.get_dummies(df4, columns=categorical_columns_df4, drop_first=True)

categorical_columns_df5 = ['last_name', 'first_name', 'title', 'title_of_courtesy', 'address', 'city', 'region', 'country', 'extension', 'reports_to']
df5_encoded = pd.get_dummies(df5, columns=categorical_columns_df5, drop_first=True)

df6_encoded = pd.get_dummies(df6, columns=['region_description'], drop_first=True)

print(df1_encoded.head())
print(df2_encoded.head())
print(df3_encoded.head())
print(df4_encoded.head())
print(df5_encoded.head())
print(df6_encoded.head())

  customer_id postal_code              phone                fax  order_id  \
0       VINET       51100        26.47.15.10        26.47.15.11     10248
1       TOMSP       44087        0251-031259        0251-035695     10249
2       HANAR   05454-876      (21) 555-0091      (21) 555-8765     10250
3       VICTE       69004        78.32.54.86        78.32.54.87     10251
4       SUPRD      B-6000  (071) 23 67 22 20  (071) 23 67 22 21     10252

  customer_id  order_date required_date shipped_date  \
0       VINET  1996-07-04    1996-08-01   1996-07-16
1       TOMSP  1996-07-05    1996-08-16   1996-07-10
2       HANAR  1996-07-08    1996-08-05   1996-07-12
3       VICTE  1996-07-08    1996-08-05   1996-07-15
4       SUPRD  1996-07-09    1996-08-06   1996-07-11

   company_name_Ana Trujillo Emparedados y helados  ...  country_Mexico  \
0                                            False  ...           False
1                                            False  ...           False
2                                            False  ...           False
3                                            False  ...           False
4                                            False  ...           False

   country_Norway  country_Poland  country_Portugal  country_Spain  \
0           False           False             False          False
1           False           False             False          False
2           False           False             False          False
3           False           False             False          False
4           False           False             False          False

   country_Sweden  country_Switzerland  country_UK  country_USA  \
0           False                False       False        False
1           False                False       False        False
2           False                False       False        False
3           False                False       False        False
4           False                False       False        False

   country_Venezuela
0              False
1              False
2              False
3              False
4              False

[5 rows x 389 columns]
   order_id  unit_price  quantity  discount  category_id  unit_price  \
0     10248        14.0        12       0.0            4       21.00
1     10248         9.8        10       0.0            5       14.00
2     10248        34.8         5       0.0            4       34.80
3     10249        18.6         9       0.0            7       23.25
4     10249        42.4        40       0.0            7       53.00

   product_name_Aniseed Syrup  product_name_Boston Crab Meat  \
0                       False                          False
1                       False                          False
2                       False                          False
3                       False                          False
4                       False                          False

   product_name_Camembert Pierrot  product_name_Carnarvon Tigers  ...  \
0                           False                          False  ...
1                           False                          False  ...
2                           False                          False  ...
3                           False                          False  ...
4                           False                          False  ...

   product_name_Teatime Chocolate Biscuits  \
0                                    False
1                                    False
2                                    False
3                                    False
4                                    False

   product_name_Thüringer Rostbratwurst  product_name_Tofu  \
0                                 False              False
1                                 False              False
2                                 False              False
3                                 False               True
4                                 False              False

   product_name_Tourtière  product_name_Tunnbröd  \
0                   False                  False
1                   False                  False
2                   False                  False
3                   False                  False
4                   False                  False

   product_name_Uncle Bob's Organic Dried Pears  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False

   product_name_Valkoinen suklaa  product_name_Vegie-spread  \
0                          False                      False
1                          False                      False
2                          False                      False
3                          False                      False
4                          False                      False

   product_name_Wimmers gute Semmelknödel  product_name_Zaanse koeken
0                                   False                       False
1                                   False                       False
2                                   False                       False
3                                   False                       False
4                                   False                       False

[5 rows x 82 columns]
   product_id  supplier_id  category_id    quantity_per_unit  unit_price  \
0           1            8            1   10 boxes x 30 bags       18.00
1           2            1            1   24 - 12 oz bottles       19.00
2           3            1            2  12 - 550 ml bottles       10.00
3           4            2            2       48 - 6 oz jars       22.00
4           5            2            2             36 boxes       21.35

   units_in_stock  units_on_order  reorder_level  category_id  \
0              39               0             10            1
1              17              40             25            1
2              13              70             25            2
3              53               0              0            2
4               0               0              0            2

   product_name_Aniseed Syrup  ...  product_name_Vegie-spread  \
0                       False  ...                      False
1                       False  ...                      False
2                        True  ...                      False
3                       False  ...                      False
4                       False  ...                      False

   product_name_Wimmers gute Semmelknödel  product_name_Zaanse koeken  \
0                                   False                       False
1                                   False                       False
2                                   False                       False
3                                   False                       False
4                                   False                       False

   category_name_Condiments  category_name_Confections  \
0                     False                      False
1                     False                      False
2                      True                      False
3                      True                      False
4                      True                      False

   category_name_Dairy Products  category_name_Grains/Cereals  \
0                         False                         False
1                         False                         False
2                         False                         False
3                         False                         False
4                         False                         False

   category_name_Meat/Poultry  category_name_Produce  category_name_Seafood
0                       False                  False                  False
1                       False                  False                  False
2                       False                  False                  False
3                       False                  False                  False
4                       False                  False                  False

[5 rows x 92 columns]
   product_id  supplier_id  category_id    quantity_per_unit  unit_price  \
0           1            8            1   10 boxes x 30 bags       18.00
1           2            1            1   24 - 12 oz bottles       19.00
2           3            1            2  12 - 550 ml bottles       10.00
3           4            2            2       48 - 6 oz jars       22.00
4           5            2            2             36 boxes       21.35

   units_in_stock  units_on_order  reorder_level  supplier_id postal_code  \
0              39               0             10            8     M14 GSD
1              17              40             25            1     EC1 4SD
2              13              70             25            1     EC1 4SD
3              53               0              0            2       70117
4               0               0              0            2       70117

   ...  city_Sydney  city_Tokyo  city_Zaandam  region_LA  region_MA  \
0  ...        False       False         False      False      False
1  ...        False       False         False      False      False
2  ...        False       False         False      False      False
3  ...        False       False         False       True      False
4  ...        False       False         False       True      False

   region_MI  region_NSW  region_OR  region_Québec  region_Victoria
0      False       False      False          False            False
1      False       False      False          False            False
2      False       False      False          False            False
3      False       False      False          False            False
4      False       False      False          False            False

[5 rows x 191 columns]
   birth_date   hire_date postal_code      home_phone  \
0  1948-12-08  1992-05-01       98122  (206) 555-9857
1  1948-12-08  1992-05-01       98122  (206) 555-9857
2  1952-02-19  1992-08-14       98401  (206) 555-9482
3  1952-02-19  1992-08-14       98401  (206) 555-9482
4  1952-02-19  1992-08-14       98401  (206) 555-9482

                             photo_path territory_id  last_name_Callahan  \
0  http://accweb/emmployees/davolio.bmp        06897               False
1  http://accweb/emmployees/davolio.bmp        19713               False
2   http://accweb/emmployees/fuller.bmp        01581               False
3   http://accweb/emmployees/fuller.bmp        01730               False
4   http://accweb/emmployees/fuller.bmp        01833               False

   last_name_Davolio  last_name_Dodsworth  last_name_Fuller  ...  country_USA  \
0               True                False             False  ...         True
1               True                False             False  ...         True
2              False                False              True  ...         True
3              False                False              True  ...         True
4              False                False              True  ...         True

   extension_3355  extension_3453  extension_3457  extension_428  \
0           False           False           False          False
1           False           False           False          False
2           False           False            True          False
3           False           False            True          False
4           False           False            True          False

   extension_452  extension_465  extension_5176  extension_5467  \
0          False          False           False            True
1          False          False           False            True
2          False          False           False           False
3          False          False           False           False
4          False          False           False           False

   reports_to_5.0
0           False
1           False
2           False
3           False
4           False

[5 rows x 50 columns]
  territory_id  region_id  region_id  region_description_Northern  \
0        01581          1          1                        False
1        01730          1          1                        False
2        01833          1          1                        False
3        02116          1          1                        False
4        02139          1          1                        False

   region_description_Southern  region_description_Western
0                        False                       False
1                        False                       False
2                        False                       False
3                        False                       False
4                        False                       False

In [63]:
#Yeni sütun isimlerini kontrol edelim
print(df1_encoded.columns)
print(df2_encoded.columns)
print(df3_encoded.columns)
print(df4_encoded.columns)
print(df5_encoded.columns)
print(df6_encoded.columns)

Index(['customer_id', 'postal_code', 'phone', 'fax', 'order_id', 'customer_id',
       'order_date', 'required_date', 'shipped_date',
       'company_name_Ana Trujillo Emparedados y helados',
       ...
       'country_Mexico', 'country_Norway', 'country_Poland',
       'country_Portugal', 'country_Spain', 'country_Sweden',
       'country_Switzerland', 'country_UK', 'country_USA',
       'country_Venezuela'],
      dtype='object', length=389)
Index(['order_id', 'unit_price', 'quantity', 'discount', 'category_id',
       'unit_price', 'product_name_Aniseed Syrup',
       'product_name_Boston Crab Meat', 'product_name_Camembert Pierrot',
       'product_name_Carnarvon Tigers', 'product_name_Chai',
       'product_name_Chang', 'product_name_Chartreuse verte',
       'product_name_Chef Anton's Cajun Seasoning',
       'product_name_Chef Anton's Gumbo Mix', 'product_name_Chocolade',
       'product_name_Côte de Blaye', 'product_name_Escargots de Bourgogne',
       'product_name_Filo Mix', 'product_name_Flotemysost',
       'product_name_Geitost', 'product_name_Genen Shouyu',
       'product_name_Gnocchi di nonna Alice', 'product_name_Gorgonzola Telino',
       'product_name_Grandma's Boysenberry Spread', 'product_name_Gravad lax',
       'product_name_Guaraná Fantástica', 'product_name_Gudbrandsdalsost',
       'product_name_Gula Malacca', 'product_name_Gumbär Gummibärchen',
       'product_name_Gustaf's Knäckebröd', 'product_name_Ikura',
       'product_name_Inlagd Sill', 'product_name_Ipoh Coffee',
       'product_name_Jack's New England Clam Chowder', 'product_name_Konbu',
       'product_name_Lakkalikööri', 'product_name_Laughing Lumberjack Lager',
       'product_name_Longlife Tofu',
       'product_name_Louisiana Fiery Hot Pepper Sauce',
       'product_name_Louisiana Hot Spiced Okra',
       'product_name_Manjimup Dried Apples', 'product_name_Mascarpone Fabioli',
       'product_name_Maxilaku', 'product_name_Mishi Kobe Niku',
       'product_name_Mozzarella di Giovanni',
       'product_name_Nord-Ost Matjeshering',
       'product_name_Northwoods Cranberry Sauce',
       'product_name_NuNuCa Nuß-Nougat-Creme',
       'product_name_Original Frankfurter grüne Soße',
       'product_name_Outback Lager', 'product_name_Pavlova',
       'product_name_Perth Pasties', 'product_name_Pâté chinois',
       'product_name_Queso Cabrales', 'product_name_Queso Manchego La Pastora',
       'product_name_Raclette Courdavault', 'product_name_Ravioli Angelo',
       'product_name_Rhönbräu Klosterbier', 'product_name_Rogede sild',
       'product_name_Röd Kaviar', 'product_name_Rössle Sauerkraut',
       'product_name_Sasquatch Ale', 'product_name_Schoggi Schokolade',
       'product_name_Scottish Longbreads',
       'product_name_Singaporean Hokkien Fried Mee',
       'product_name_Sir Rodney's Marmalade',
       'product_name_Sir Rodney's Scones', 'product_name_Sirop d'érable',
       'product_name_Spegesild', 'product_name_Steeleye Stout',
       'product_name_Tarte au sucre',
       'product_name_Teatime Chocolate Biscuits',
       'product_name_Thüringer Rostbratwurst', 'product_name_Tofu',
       'product_name_Tourtière', 'product_name_Tunnbröd',
       'product_name_Uncle Bob's Organic Dried Pears',
       'product_name_Valkoinen suklaa', 'product_name_Vegie-spread',
       'product_name_Wimmers gute Semmelknödel', 'product_name_Zaanse koeken'],
      dtype='object')
Index(['product_id', 'supplier_id', 'category_id', 'quantity_per_unit',
       'unit_price', 'units_in_stock', 'units_on_order', 'reorder_level',
       'category_id', 'product_name_Aniseed Syrup',
       'product_name_Boston Crab Meat', 'product_name_Camembert Pierrot',
       'product_name_Carnarvon Tigers', 'product_name_Chai',
       'product_name_Chang', 'product_name_Chartreuse verte',
       'product_name_Chef Anton's Cajun Seasoning',
       'product_name_Chef Anton's Gumbo Mix', 'product_name_Chocolade',
       'product_name_Côte de Blaye', 'product_name_Escargots de Bourgogne',
       'product_name_Filo Mix', 'product_name_Flotemysost',
       'product_name_Geitost', 'product_name_Genen Shouyu',
       'product_name_Gnocchi di nonna Alice', 'product_name_Gorgonzola Telino',
       'product_name_Grandma's Boysenberry Spread', 'product_name_Gravad lax',
       'product_name_Guaraná Fantástica', 'product_name_Gudbrandsdalsost',
       'product_name_Gula Malacca', 'product_name_Gumbär Gummibärchen',
       'product_name_Gustaf's Knäckebröd', 'product_name_Ikura',
       'product_name_Inlagd Sill', 'product_name_Ipoh Coffee',
       'product_name_Jack's New England Clam Chowder', 'product_name_Konbu',
       'product_name_Lakkalikööri', 'product_name_Laughing Lumberjack Lager',
       'product_name_Longlife Tofu',
       'product_name_Louisiana Fiery Hot Pepper Sauce',
       'product_name_Louisiana Hot Spiced Okra',
       'product_name_Manjimup Dried Apples', 'product_name_Mascarpone Fabioli',
       'product_name_Maxilaku', 'product_name_Mishi Kobe Niku',
       'product_name_Mozzarella di Giovanni',
       'product_name_Nord-Ost Matjeshering',
       'product_name_Northwoods Cranberry Sauce',
       'product_name_NuNuCa Nuß-Nougat-Creme',
       'product_name_Original Frankfurter grüne Soße',
       'product_name_Outback Lager', 'product_name_Pavlova',
       'product_name_Perth Pasties', 'product_name_Pâté chinois',
       'product_name_Queso Cabrales', 'product_name_Queso Manchego La Pastora',
       'product_name_Raclette Courdavault', 'product_name_Ravioli Angelo',
       'product_name_Rhönbräu Klosterbier', 'product_name_Rogede sild',
       'product_name_Röd Kaviar', 'product_name_Rössle Sauerkraut',
       'product_name_Sasquatch Ale', 'product_name_Schoggi Schokolade',
       'product_name_Scottish Longbreads',
       'product_name_Singaporean Hokkien Fried Mee',
       'product_name_Sir Rodney's Marmalade',
       'product_name_Sir Rodney's Scones', 'product_name_Sirop d'érable',
       'product_name_Spegesild', 'product_name_Steeleye Stout',
       'product_name_Tarte au sucre',
       'product_name_Teatime Chocolate Biscuits',
       'product_name_Thüringer Rostbratwurst', 'product_name_Tofu',
       'product_name_Tourtière', 'product_name_Tunnbröd',
       'product_name_Uncle Bob's Organic Dried Pears',
       'product_name_Valkoinen suklaa', 'product_name_Vegie-spread',
       'product_name_Wimmers gute Semmelknödel', 'product_name_Zaanse koeken',
       'category_name_Condiments', 'category_name_Confections',
       'category_name_Dairy Products', 'category_name_Grains/Cereals',
       'category_name_Meat/Poultry', 'category_name_Produce',
       'category_name_Seafood'],
      dtype='object')
Index(['product_id', 'supplier_id', 'category_id', 'quantity_per_unit',
       'unit_price', 'units_in_stock', 'units_on_order', 'reorder_level',
       'supplier_id', 'postal_code',
       ...
       'city_Sydney', 'city_Tokyo', 'city_Zaandam', 'region_LA', 'region_MA',
       'region_MI', 'region_NSW', 'region_OR', 'region_Québec',
       'region_Victoria'],
      dtype='object', length=191)
Index(['birth_date', 'hire_date', 'postal_code', 'home_phone', 'photo_path',
       'territory_id', 'last_name_Callahan', 'last_name_Davolio',
       'last_name_Dodsworth', 'last_name_Fuller', 'last_name_King',
       'last_name_Leverling', 'last_name_Peacock', 'last_name_Suyama',
       'first_name_Anne', 'first_name_Janet', 'first_name_Laura',
       'first_name_Margaret', 'first_name_Michael', 'first_name_Nancy',
       'first_name_Robert', 'first_name_Steven', 'title_Sales Manager',
       'title_Sales Representative', 'title_Vice President, Sales',
       'title_of_courtesy_Mr.', 'title_of_courtesy_Mrs.',
       'title_of_courtesy_Ms.', 'address_4110 Old Redmond Rd.',
       'address_4726 - 11th Ave. N.E.', 'address_507 - 20th Ave. E.\nApt. 2A',
       'address_7 Houndstooth Rd.', 'address_722 Moss Bay Blvd.',
       'address_908 W. Capital Way', 'address_Coventry House\nMiner Rd.',
       'address_Edgeham Hollow\nWinchester Way', 'city_London', 'city_Redmond',
       'city_Seattle', 'city_Tacoma', 'country_USA', 'extension_3355',
       'extension_3453', 'extension_3457', 'extension_428', 'extension_452',
       'extension_465', 'extension_5176', 'extension_5467', 'reports_to_5.0'],
      dtype='object')
Index(['territory_id', 'region_id', 'region_id', 'region_description_Northern',
       'region_description_Southern', 'region_description_Western'],
      dtype='object')

In [72]:
# Tüm DataFrame'lerde 'order_date' ve 'hire_date' sütunlarının olup olmadığını kontrol etme
encoded_dfs = [df1_encoded, df2_encoded, df3_encoded, df4_encoded,df5_encoded, df6_encoded]  

for i, df in enumerate(encoded_dfs, 1):
    print(f"DataFrame {i}:")
    if 'order_date' in df.columns:
        print("  'order_date' sütunu var.")
    else:
        print("  'order_date' sütunu yok.")
        
    if 'hire_date' in df.columns:
        print("  'hire_date' sütunu var.")
    else:
        print("  'hire_date' sütunu yok.")
    
    print()  # her DataFrame için boş satır

DataFrame 1:
  'order_date' sütunu var.
  'hire_date' sütunu yok.

DataFrame 2:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

DataFrame 3:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

DataFrame 4:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

DataFrame 5:
  'order_date' sütunu yok.
  'hire_date' sütunu var.

DataFrame 6:
  'order_date' sütunu yok.
  'hire_date' sütunu yok.

In [73]:
#Tarih verilerinden gün,ay ve yıl olmak üzere yeni veri çıkarımı.
# df1_encoded (encoded customers ve orders)
df1_encoded['order_date'] = pd.to_datetime(df1_encoded['order_date'])
df1_encoded['order_year'] = df1_encoded['order_date'].dt.year
df1_encoded['order_month'] = df1_encoded['order_date'].dt.month
df1_encoded['order_day'] = df1_encoded['order_date'].dt.day


# df5_encoded (encoded territories data)
df5_encoded['hire_date'] = pd.to_datetime(df5_encoded['hire_date'])
df5_encoded['hire_year'] = df5_encoded['hire_date'].dt.year
df5_encoded['hire_month'] = df5_encoded['hire_date'].dt.month
df5_encoded['hire_day'] = df5_encoded['hire_date'].dt.day